<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - devices</title>
</head>

<body style="text-align:center;">

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/client'>Client Dashboard</a></li>
  <% include ../../partials/post-nav.ejs %>

  <h1>Devices</h1>

  <% for (var i=0; i<devices.length; i++) { %>
    <a class="card bordered shadowed no-decoration" href="/client/devices/<%= devices[i]._id %>">
      <h2><%= devices[i].name %></h2>
      <p>Samsung Galaxy S9</p>
    </a>
  <% } %>

</body>
</html>
