<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - notifications</title>
</head>

<body style="text-align:center;">

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/client'>Client Dashboard</a></li>
  <% include ../../partials/post-nav.ejs %>

  <h1>Notifications</h1>



</body>
</html>
