<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - <%= device.name %></title>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');

    function send(data) {
      socket.emit('send', {
        '_id': "<%= device._id %>",
        'title': document.getElementById('notification-title').value,
        'body':document.getElementById('notification-body').value,
      });

      document.getElementById('notification-title').value = '';
      document.getElementById('notification-body').value = '';
    }

    socket.on('err', function(err){
      document.getElementById(err.id).innerHTML = err.text;
      setTimeout(function () {
        document.getElementById(err.id).innerHTML = '';
      }, 3*1000);
    });

    socket.on('err', function(success){
      document.getElementById(success.id).innerHTML = success.text;
      setTimeout(function () {
        document.getElementById(success.id).innerHTML = '';
      }, 3*1000);
    });

  </script>
</head>

<body style="text-align:center;">

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/client'>Client Dashboard</a></li>
    <li><a href='/client/devices'>Devices</a></li>
  <% include ../../partials/post-nav.ejs %>

  <h1><%= device.name %></h1>

  <div class='card wide bordered shadowed'>
    <h2>Send Test Notification</h2>
    <div>
      <h3>Notification Title</h3>
      <input class='text-input wide' id='notification-title'>
    </div>
    <div>
      <h3>Notification Body</h3>
      <input class='text-input wide' id='notification-body'>
    </div>
    <button type='button' class="card-link-inverted bordered" style='width:100px; margin-bottom:10px' onclick="send()">Send</button>
    <div class='error' id='send_error'></div>
    <div class='success' id='send_success'></div>
  </div>

</body>
</html>
