<div id='mobile-header-title' class='nav-text-fancy hide-desktop-nav'>
  <a href="#" class='home-link'><img style='height:40px;' src='/images/notify-title.svg'></a>
</div>
<nav class="navbar navbar-static-top navbar-notify">
  <div id='nav-container' class="notify-container hide-mobile-nav">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#" class='home-link'><img style='height:40px;' src='/images/notify-title.svg'></a>
      </li>
    </ul>
    <ul class="nav navbar-nav nav-soften">
