<div id='mobile-header-title' class='nav-fancy hide-desktop-nav'>
  <a href="/developer" class='invert-onhover' style='line-height:35px;margin-right:10vw'>Developer</a>
  <a href="/user" class='invert-onhover' style='line-height:35px;padding-right:30px;'>User</a>
</div>
<nav class="navbar navbar-static-top navbar-notify">
  <div id='nav-container' class="notify-container hide-mobile-nav">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/developer" class='home-link'><img style='height:40px;' src='/images/notify-title.svg'><span class='nav-fancy'>Developer</span></a>
      </li>
      <li class="active">
        <a href="/user" class='home-link nav-fancy' style="margin-left:40px;"><img style='height:40px;' src='/images/notify-title.svg'><span>User</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav nav-soften">
