<div id='mobile-header-title' class='nav-fancy hide-desktop-nav'>
  <a href="/user" class='invert-onhover'><img style='height:40px;' src='/images/notify-title.svg'><span>User</span></a>
</div>
<nav class="navbar navbar-static-top navbar-notify">
  <div id='nav-container' class="notify-container hide-mobile-nav">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/user" class='home-link nav-fancy'><img style='height:40px;' src='/images/notify-title.svg'><span>User</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav nav-soften">
