:root {
  --main-nav-colour: #ffce00;
  --com-nav-colour: #ffffff80;
  --sec-nav-colour: #ffffff;
  --main-bg-colour: #ffffff;
  --main-black: #252525;
  --main-text-colour: #000000;
  --main-text-colour-hover-inverted: #000000;
  --main-text-colour-hover: #ffffff;
  --sec-text-colour: #ffce00;
  --main-border-radius: 3px;
  --header-height: 50px;
}

body {
  background-color: var(--main-bg-colour);
  text-align: center;
  color: var(--main-text-colour);
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#mobile-header-title {
  position: fixed;
  top:5px;
  height: 40px;
  z-index: 1001;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.invert-onhover:hover,
.invert-onhover:focus {
  filter: invert();
  color: inherit;
  text-decoration: none;
}

#mobile-header-title  span {
  vertical-align: middle;
}

.content {
  padding-top: 0px;
  margin: auto;
}

.notify-container {
  margin-left: auto;
  margin-right: auto;
}

.navbar-notify {
  background-color: var(--main-nav-colour);
  border: none;
  width: 100%;
  position: fixed;
  margin-bottom: 0px;
}

.navbar-notify a {
  text-decoration: none;
  color: inherit;
}

.nav-soften a:hover,
.nav-soften a:focus {
  transition-duration: 0.5s;
  background-color: var(--com-nav-colour) !important;
}

.navbar-notify li {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.title-container {
  display: flex;
  padding: 10px 0px;
}

.notify-title {
  width: 20vw;
  margin: auto 5px auto auto;
}

.text-title-fancy {
  font-family: Puzzled;
  margin: auto auto auto 5px;
  font-size: 8vw;
}

.main-fill {
  background-color: var(--main-nav-colour);
  color: var(--main-text-colour);
}

.sec-fill {
  background-color: var(--sec-nav-colour);
  color: var(--main-text-colour);
}

.main-border {
  border: 0.2vw solid var(--main-nav-colour);
  border-radius: var(--main-border-radius);
  width:fit-content;
}

.comp-border {
  border: 0.2vw solid var(--com-nav-colour);
  border-radius: var(--main-border-radius);
  width:fit-content;
}

.black-border {
  border: 0.2vw solid var(--main-black);
  border-radius: var(--main-border-radius);
  width:fit-content;
}

.jumbotron-notify {
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin: auto;
  background-color: var(--main-bg-colour);
  color: var(--main-text-colour);
}

.home-link {
  padding: 5px 0px!important;
  height: 44px;
  margin: auto;
  color: var(--main-text-colour);
  font-family: Puzzled;
}

.home-link > span {
  vertical-align: middle;
}

.nav-fancy {
  font-family: Puzzled;
  font-size: 48px;
  line-height: 1px;
}

.home-link:hover {
  background-color: inherit !important;
  filter:invert();
  color: var(--main-text-colour-hover-inverted);
  text-decoration: none;
}

.mobile-title-two {
  color: var(--main-text-colour);
  margin-left: 10px;
  margin-right: 10px;
}

.form-signin {
  min-width: 300px;
  max-width: 400px;
  width: 38vw;
  padding: 24px 16px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* The alert message box */
.alert {
  display: none;
  width: 100%;
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  text-align:center;
  position: fixed;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.content-container {
  text-align: center;
}

.card {
  display: inline-block;
  width: 330px;
  margin: 15px;
  background-color: #ffffff;
}

.wide {
  width: 75%;
  max-width: 900px;
}

.card-header {
  width: 100%;
  padding: 15px;
}

.card-body {
  padding: 15px;
  display: inline-grid;
  width:100%
}

div[alt]:hover:before {
  content: attr(alt);
  color: black;
  background-color: yellow;
  border: 1px solid black;
  padding: 2px 15px;
  position: absolute;
}

.content-centered {
  display: inline-table;
  text-align: left;
}

.content-container {
  padding: 15px;
}

.error-text {
  max-width:330px;
  margin: 0 auto;
  color:red;
}

.bordered {
  border: 1px solid #2e6da4;
}

.shadowed {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.grid {
  display: inline-grid;
}

.card-link {
  height: 50px;
  width: 100%;
  line-height: 50px;
  transition-duration: 0.2s;
}

.card-link:hover {
  background-color: #337ab7;
  text-decoration: none;
  color: #ffffff;
}

.card-link-inverted {
  height: 50px;
  width: 100%;
  line-height: 50px;
  transition-duration: 0.2s;
  color: #ffffff;
  background-color: #337ab7;
  border-radius: 10px;
  margin-top:5px
}

.card-link-inverted:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #337ab7;
}

.text-input {
  border: 0.5px solid #337ab7;
  margin-bottom: 10px;
  padding: 0px 5px;
}

.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover {
  text-decoration: none;
}

.sub-image {
  height: 200px;
}

.banner {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: black;
  color: white;
  opacity: 75%;
  margin: 10px 20px;
}

.card-link-red {
  transition-duration: 0.2s;
  color: #ffffff;
  background-color: red;
  border-radius: 10px;
}

.card-link-red:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: red;
}

.rounded {
  border-radius: 20px;
}

#notifications-list {
  overflow-y: auto;
  max-height: 90vh;
}

.notification-container {
  height:85px;
  padding:5px 20px;
  font-family:'Roboto';
  font-size:12px;
  text-align:left;
  cursor: pointer;
  margin: 15px auto;
  white-space: normal;
}

.notification-container > div > div {
  padding-bottom:8px;
  max-width:230px;
}

.notification-container > img {
  height:60px;
  float:right;
  margin-top:15px;
}

.notification-container > div > div > img {
  height:15px;
}

.notification-container > div > p, .notification-container > div > b {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.notification-container > div > p {
  -webkit-line-clamp: 2;
}

.notification-container > div > b {
  -webkit-line-clamp: 1;
}

.notification-container > div > div > p {
  height:15px;
  vertical-align:middle;
}

.notify-text {
  height:15px;
  color:#CCCC00;
  vertical-align:middle;
  padding:0px 5px;
}


.organisation-notification-container {
  width: 100px;
  display: inline-table;
  vertical-align: bottom;
  height:85px;
  padding:5px 10px;
  font-family:'Roboto';
  font-size:12px;
  margin: 15px auto;
  white-space: normal;
}

.organisation-text-small {
  margin:auto;
  display:table-cell;
  vertical-align:middle;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  max-width: 80px;
}

#collapse-button {
  position: fixed;
  top:10px;
  right: 10px;
  z-index: 1000;
  border: 1px solid var(--main-text-colour);
  border-radius: 100%;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.flip-image {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.title-page-register {
  margin: auto;
  width: fit-content;
}

.page-section {
  background-color: bisque;
}

.page-height {
  min-height: calc(100vh - var(--header-height));
  height: 100%;
  display: flex;
}

.column-container {
  display: flex;
}

.form-note {
  font-size: 12px;
  text-align: left;
  padding: 9px 0px 0px 0px;
  margin: auto;
}

.form-label-notify {
  float: left;
  margin-left: 5px;
}

.marketing {
  margin: 10px auto;
  width: 40vw;
  min-width: 300px;
  font-size: 20px;
  font-weight: 400;
}
