<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - client</title>
</head>
<body>

  <% include ../../partials/nav/pre-nav-dev-user.ejs %>
  <% include ../../partials/nav/post-nav.ejs %>
  <div class='content'>

    <div class="jumbotron-notify">
      <h1>Client Dashboard</h1>
    </div>

    <div class="card grid bordered shadowed">
      <a type='button' class='card-link' href="/user/devices">Devices</a>
    </div>

    <div class="card grid bordered shadowed">
      <a type='button' class='card-link' href="/user/notifications">Notifications</a>
    </div>

  </div>
</body>
</html>
