<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - developer</title>
</head>
<body>

  <% include ../../partials/pre-nav.ejs %>
  <% include ../../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1><%= process.env.APPLICATION_NAME %></h1>
  </div>

  <div class="card grid bordered shadowed">
    <a type='button' class='card-link' href="/user/dashboard">User</a>
  </div>

  <div class="card grid bordered shadowed">
    <a type='button' class='card-link' href="/developer/dashboard">Developer</a>
  </div>

</body>
</html>
