<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - user</title>
</head>

<body>

  <% include ../../partials/pre-nav-dev-user.ejs %>
  <% include ../../partials/post-nav.ejs %>

  <div class='title-container'>
    <img class='notify-title' src='/images/notify-title.svg'>
    <h1 class='text-title-fancy'>User</h1>
  <div>

</body>
</html>
