<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - login</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-social.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css" />

</head>

<body>

  <% include ../../partials/pre-nav-dev-user.ejs %>
  <% include ../../partials/post-nav.ejs %>
  <div class='content'>

    <% include ../../partials/auth/localLogin.ejs %>

    <% include ../../partials/auth/socialLogin.ejs %>

  </div>
</body>
</html>
