<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - register</title>

</head>

<body>

  <% include ../../partials/nav/pre-nav-dev-user.ejs %>
  <% include ../../partials/nav/post-nav.ejs %>
  <div class='content page-height'>

    <div style="margin: auto;">
      <% include ../../partials/auth/localRegister.ejs %>

      <% include ../../partials/auth/socialLogin.ejs %>
    </div>

  </div>
</body>
</html>
