<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - register</title>

</head>

<body>

  <% include ../../partials/pre-nav-dev-user.ejs %>
  <% include ../../partials/post-nav.ejs %>
  <div class='content'>

    <% include ../../partials/auth/localRegister.ejs %>

    <% include ../../partials/auth/socialLogin.ejs %>

  </div>
</body>
</html>
