<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - Session</title>
</head>

<body>

  <% include ../../partials/pre-nav.ejs %>
  <% include ../../partials/post-nav.ejs %>

<h1>Session ID: <%= req.sessionID %></h1>

</body>
</html>
