<form class='form-signin' role='form' action='/auth/local/login' method='post'>
  <label class='sr-only' for='inputEmail'></label>
  <input class='form-control' type='text' name='username' id='email' id='inputEmail' placeholder='email' required autofocus>
  <input class='form-control' type='password' name='password' id='password' id='inputPassword' placeholder='password' required>
  <button class='card-link-inverted bordered' type='submit'>LOGIN</button>
  <button type="button" class="card-link-inverted bordered" onclick="window.location.href='/register'">REGISTER</button>
</form>

<p class="error-text"><%= req.loginComment %></p>
