<nav class="navbar navbar-static-top navbar-notify">
  <div id='nav-container' class="notify-container hide-mobile">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/developer" class='home-link'><img style='height:40px;' src='/images/notify-title.svg'><span class='nav-fancy'>Developer</span></a>
      </li>
      <li class="active">
        <a href="/user" class='home-link nav-fancy' style="margin-left:40px;"><img style='height:40px;' src='/images/notify-title.svg'><span>User</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav nav-soften">
