<nav class="navbar navbar-static-top navbar-notify">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/" class='home-link'><img style='height:40px;' src='images/notify-title.svg'></a>
