<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - developer</title>
</head>
<body>

  <% include ../../partials/pre-nav.ejs %>
  <% include ../../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>Developer Dashboard</h1>
  </div>

</body>
</html>
