<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - developer</title>
</head>
<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/developer'>Developer Dashboard</a></li>
  <% include ../../partials/post-nav.ejs %>

  <div class="jumbotron">
    <h1>New Organisation</h1>
  </div>

  <form class='form-signin' role='form' action='/developer/new/organisation' method='post' enctype="multipart/form-data">
    <div>
      <input class='form-control' type='text' name='name' id='name' placeholder='organisation name' required autofocus>
    </div>
    <div>
      <input class='form-control' type='text' name='mainColour' id='mainColour' placeholder='main colour' required>
    </div>
    <div>
      <input class='form-control' type='text' name='secondaryColour' id='secondaryColour' placeholder='secondary colour' required>
    </div>
    <div>
      <input class='form-control' type='file' name='file' id='file' required>
    </div>

    <button class='card-link-inverted bordered' type='submit'>Create Organisation</button>
  </form>

</body>
</html>
